.main {
  width: 100vw;
  position: absolute;
  top: 11758px;

  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-style: normal;
  color: #ffffff;
}

.container {
  width: 955px;
  margin: 154px auto 0;
}

.title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin: 0 39px;
}

.slider {
  position: relative;
  margin-top: 60px;
}

.animation {
  padding-top: 60px;
}

.frame1 {
  background-color: white;
  position: absolute;
  top: 0;
  left: 39px;
  width: 338px;
  height: 120px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  clip-path: polygon(93% 0, 100% 17%, 100% 100%, 0 100%, 0 0);
}

.frame2 {
  background-color: white;
  position: absolute;
  top: 148px;
  right: 0;
  width: 355px;
  height: 312px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 17% 100%, 0 84%);
}

.swiper {
  width: 100%;
  height: 460px;
  position: absolute;
  top: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 39px;
  width: 338px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 148px;
  right: 0;
  width: 355px;
  height: 312px;
  padding: 55px 49px;
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 188%;
  text-align: center;
  color: #000000;
}
